<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
  </head>
  <body>
  <ul>
      <li>Phase 1: <a href="/subs/longlat"><strong>Geocoding</strong></a> </li>
      <li>Phase 2: <a href="/subs/distance"><strong>Distance measure</strong></a></li>
      <li>Phase 3: <a href="/subs/distance"><strong>Navigations</strong></a></li>
      <li>Phase 4: <a href="/subs/custom"><strong>Save Location</strong></a></li>
      <li>Phase 5: <a href="/subs/custom"><strong>Save Image</strong></a></li>
      <li>Phase 6: <a href="/subs/custom"><strong>View Stored </strong></a></li>
    </ul>
  </body>
</html>
