<!DOCTYPE html>
<html>

<head>
  <title>Simple map application with symphony</title>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2> A simple map application made with symphony and doctrine</h2>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="col">
        <div class=" card text-center" style="width: 20rem;margin-bottom:25px">
          <div class="card-header">
            Phase 1 - Geocoding
          </div>
          <div class="card-block">

            <p class="card-text">Shows location of the searched address</p>

          </div>
          <div class="card-footer text-muted">
            <a href="/subs/longlat" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class=" card text-center" style="width: 20rem;margin-bottom:25px">
          <div class="card-header">
            Phase 2 - Distance measure
          </div>
          <div class="card-block">

            <p class=" card-text">Shows Distace between two address</p>

          </div>
          <div class="card-footer text-muted">
            <a href="/subs/distance" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class=" card text-center" style="width: 20rem;margin-bottom:25px">
          <div class="card-header">
            Phase 3 - Navigations
          </div>
          <div class=" card-block">

            <p class=" card-text">Navigational direction</p>

          </div>
          <div class="card-footer text-muted">
            <a href="/subs/distance" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class=" card text-center" style="width: 20rem;margin-bottom:25px">
          <div class="card-header">
            Phase 4 - Save Locations
          </div>
          <div class=" card-block">

            <p class=" card-text">Allows to save a location</p>

          </div>
          <div class="card-footer text-muted">
            <a href="/geomarkers" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class=" card text-center" style="width: 20rem;margin-bottom:25px">
          <div class="card-header">
            Phase 5 - Save Image
          </div>
          <div class="card-block">

            <p class=" card-text">Allows to save a Image to a location</p>

          </div>
          <div class="card-footer text-muted">
            <a href="/geomarkers" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class=" card text-center" style="width: 20rem;margin-bottom:25px">
          <div class="card-header">
            Phase 5 - View User Maps
          </div>
          <div class=" card-block">

            <p class=" card-text">Allows to view saved maps</p>

          </div>
          <div class="card-footer text-muted">
            <a href="/geomarkers/showall" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
    </div>










  </div>
</body>

</html>
