<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
  </head>
  <body>
  <ul>
      <li>Phase 1: <a href="/subs/longlat"><strong>Geocoding</strong></a> </li>
      <li>Phase 2: <a href="/subs/distance"><strong>Distance measure</strong></a></li>
    </ul>
  </body>
</html>
