<!DOCTYPE html>
<html>
  <head>
    <title>Simple map application with symphony</title>
    <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"

    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">

<div class="row">
  <div class="col">
    <div class="card" style="width: 20rem;">

<div class="card-block">
  <h4 class="card-title">Phase 1 - Geocoding</h4>
  <p class="card-text">Shows location of the searched address</p>
  <a href="/subs/longlat" class="btn btn-primary">View</a>
</div>
</div>
  </div>
  <div class="col">
    <div class="card" style="width: 20rem;">

<div class="card-block">
  <h4 class="card-title">Phase 1 - Geocoding</h4>
  <p class="card-text">Shows location of the searched address</p>
  <a href="/subs/longlat" class="btn btn-primary">View</a>
</div>
</div>
  </div>
  <div class="col">
    <div class="card" style="width: 20rem;">

<div class="card-block">
  <h4 class="card-title">Phase 1 - Geocoding</h4>
  <p class="card-text">Shows location of the searched address</p>
  <a href="/subs/longlat" class="btn btn-primary">View</a>
</div>
</div>
  </div>
</div>



<div class="card" style="width: 20rem;">

  <div class="card-block">
    <h4 class="card-title">Phase 2 - Distance measure</h4>
    <p class="card-text">Shows Distace between two address</p>
    <a href="/subs/distance" class="btn btn-primary">View</a>
  </div>
</div>

<div class="card" style="width: 20rem;">

  <div class="card-block">
    <h4 class="card-title">Phase 3 - Navigations</h4>
    <p class="card-text">Shows Distace between two address and navigational direction</p>
    <a href="/subs/distance" class="btn btn-primary">View</a>
  </div>
</div>

<div class="card" style="width: 20rem;">

  <div class="card-block">
    <h4 class="card-title">Phase 4 - Save Location</h4>
    <p class="card-text">Allows to save a location</p>
    <a href="/subs/distance" class="btn btn-primary">View</a>
  </div>
</div>

<div class="card" style="width: 20rem;">

  <div class="card-block">
    <h4 class="card-title">Phase 5 - Save Image</h4>
    <p class="card-text">Allows to save a Image to a location</p>
    <a href="/subs/distance" class="btn btn-primary">View</a>
  </div>
</div>

<div class="card" style="width: 20rem;">

  <div class="card-block">
    <h4 class="card-title">Phase 5 - View User Maps</h4>
    <p class="card-text">Allows to view saved maps</p>
    <a href="/geomarkers/showall" class="btn btn-primary">View</a>
  </div>
</div>

  </div>
  </body>
</html>
