<!DOCTYPE html>
<html>
  <head>
    <title>Find on Map</title>
    <style>
      #map {
        width: 100%;
        height: 400px;
      }
    </style>
    <script>
      var map, marker, coords;
      function initMap() {
        var longField = Number(document.getElementById('longField').textContent);
        var latField  = Number(document.getElementById('latField').textContent);
        coords = { lat: latField, lng: longField };
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: coords
        });

        showMarker(document.getElementById("iconselected").value);
      }
      function showMarker(icon) {

        if (icon == 1) {
          document.getElementById("colorSelected").disabled = true;
          marker = new google.maps.Marker({
            position: coords,
            map: map
          });
        }
        else {
          var fillColor, strokeColor;
          document.getElementById("colorSelected").disabled = false;
          if (document.getElementById("colorSelected").value == "Yellow") {
            fillColor = "#FF0";
            strokeColor = "#FFD700";
          }
          else if (document.getElementById("colorSelected").value == "Green") {
            fillColor = "#0F0";
            strokeColor = "#00D700";
          }
          marker = new google.maps.Marker({
            position: coords,
            map: map,
            icon: {
              path: google.maps.SymbolPath.CIRCLE,
              fillColor: fillColor,
              fillOpacity: 0.9,
              scale:8,
              strokeColor: strokeColor,
              strokeWeight: 2
            }
          });
        }
      }
      function changeIcon() {
      //  showMarker(2);
      initMap();
          //showMarker(document.getElementById("colorSelected").value );
          }
    </script>
  </head>
  <body>
    <h1>Find your location</h1>
    <form method="get" action="/subs/longlat">
      <label>Address:</label>
      <input id="address" type="text" name="address" placeholder="Enter the address here">
      <br><br>
      <input type="submit" name="submitForm" value="Submit">

      {% if formatted_address is defined %}
        <h1><strong>Formatted address: </strong>{{formatted_address}}</h1>
        <h2><strong>Longitude: </strong><span id="longField">{{longitude}}</span></h2>
        <h2><strong>Latitude: </strong><span id="latField">{{latitude}}</span></h2>
        <label for="iconselected">Select Marker: </label>
        <select id="iconselected" onchange="changeIcon()" name="selectIcon">
          <option selected value="1">Default</option>
          <option value="2">Custom </option>
        </select>
        <br><br>
        <label for="colorSelected">Color: </label>
        <select disabled id="colorSelected" onchange="changeIcon()" name="selectCustomColor">
          <option selected value="Yellow">Yellow</option>
          <option value="Green">Green</option>
          <option value="Black">Black</option>
        </select>
        <br><br>
        <div id="map"></div>
        <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2ssmB4OYp3klzfoEhQFrbIL57NbOcnK4&callback=initMap">
        </script>
      {% endif %}

    </form>
  </body>
</html>
